[sshd]
port = {{ fail2ban.ssh.ports | join(',') }}
enabled = true
filter = sshd
mode = aggressive
banaction = {{ fail2ban.ssh.ban_program }}
backend = systemd
maxretry = 5
findtime = 1d
bantime = 2w
ignoreip = {{ fail2ban.ssh.trusted_ips | join(' ') }}
