#	$OpenBSD: sshd_config,v 1.104 2021/07/02 05:11:21 dtucker Exp $#
##
# This is the sshd server system-wide configuration file.  See#
# sshd_config(5) for more information.#
##
# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/bin#
##
# The strategy used for options in the default sshd_config shipped with#
# OpenSSH is to specify options with their default value where#
# possible, but leave them commented.  Uncommented options override the#
# default value.#
##
{% for port in hardening_ssh.ports %}
Port {{ port }}
{% endfor %}
#AddressFamily any#
#ListenAddress 0.0.0.0#
#ListenAddress ::#
##
#HostKey /etc/ssh/ssh_host_rsa_key#
#HostKey /etc/ssh/ssh_host_ecdsa_key#
#HostKey /etc/ssh/ssh_host_ed25519_key#
##
# Ciphers and keying#
#RekeyLimit default none#
##
# Logging#
#SyslogFacility AUTH#
#LogLevel INFO#
##
# Authentication:#
##
#LoginGraceTime 2m#
PermitRootLogin no
#StrictModes yes#
#MaxAuthTries 6#
#MaxSessions 10#
##
PubkeyAuthentication yes
##
# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2#
# but this is overridden so installations will only check .ssh/authorized_keys#
AuthorizedKeysFile	.ssh/authorized_keys
##
#AuthorizedPrincipalsFile none#
##
#AuthorizedKeysCommand none#
#AuthorizedKeysCommandUser nobody#
##
# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts#
#HostbasedAuthentication no#
# Change to yes if you don't trust ~/.ssh/known_hosts for#
# HostbasedAuthentication#
#IgnoreUserKnownHosts no#
# Don't read the user's ~/.rhosts and ~/.shosts files#
#IgnoreRhosts yes#
##
# To disable tunneled clear text passwords, change to no here!#
PasswordAuthentication no
#PermitEmptyPasswords no#
##
# Change to no to disable s/key passwords#
KbdInteractiveAuthentication no
##
# Kerberos options#
#KerberosAuthentication no#
#KerberosOrLocalPasswd yes#
#KerberosTicketCleanup yes#
#KerberosGetAFSToken no#
##
# GSSAPI options#
#GSSAPIAuthentication no#
#GSSAPICleanupCredentials yes#
##
# Set this to 'yes' to enable PAM authentication, account processing,#
# and session processing. If this is enabled, PAM authentication will#
# be allowed through the KbdInteractiveAuthentication and#
# PasswordAuthentication.  Depending on your PAM configuration,#
# PAM authentication via KbdInteractiveAuthentication may bypass#
# the setting of "PermitRootLogin without-password".#
# If you just want the PAM account and session checks to run without#
# PAM authentication, then enable this but set PasswordAuthentication#
# and KbdInteractiveAuthentication to 'no'.#
UsePAM yes
##
#AllowAgentForwarding yes#
AllowTcpForwarding no
#GatewayPorts no#
X11Forwarding no
#X11DisplayOffset 10#
X11UseLocalhost no
#PermitTTY yes#
PrintMotd no # pam does that#

#PrintLastLog yes#
#TCPKeepAlive yes#
PermitUserEnvironment no
#Compression yes#
#ClientAliveInterval 0#
#ClientAliveCountMax 3#
UseDNS no
#PidFile /run/sshd.pid#
#MaxStartups 10:30:100#
PermitTunnel no
#ChrootDirectory none#
#VersionAddendum none#
##
# no default banner path#
#Banner none#
##
# override default of no subsystems#
Subsystem sftp internal-sftp
##
##
{% if hardening_ssh.only_sftp | default(false) %}
{% if hardening_ssh.only_sftp.users | default(false) %}
Match User {{ hardening_ssh.only_sftp.users | join(',') }}
	DisableForwarding yes
	ChrootDirectory %h
	ForceCommand internal-sftp
{% endif %}
{% if  hardening_ssh.only_sftp.groups | default(false) %}
Match Group {{ hardening_ssh.only_sftp.groups | join(',') }}
	DisableForwarding yes
	ChrootDirectory %h
	ForceCommand internal-sftp
{% endif %}
{% endif %}
##
##
{% if hardening_ssh.allow_forwarding | default(false) %}
#	#{% if hardening_ssh.allow_forwarding.tcp | default(false) %}
#		#{% if hardening_ssh.allow_forwarding.tcp.users | default(false) %}
Match User {{ hardening_ssh.allow_forwarding.tcp.users | join(',') }}
	AllowTcpForwarding yes
#		#{% endif %}
#  	#{% if  hardening_ssh.allow_forwarding.tcp.groups | default(false) %}
Match Group {{hardening_ssh.allow_forwarding.tcp.groups | join(',') }}
	AllowTcpForwarding yes
#		#{% endif %}
#	#{% endif %}
#	#{% if hardening_ssh.allow_forwarding.stream | default(false) %}
#		#{% if hardening_ssh.allow_forwarding.stream.users | default(false) %}
Match User {{ hardening_ssh.allow_forwarding.stream.users | join(',') }}
	AllowStreamLocalForwarding yes
#		#{% endif %}
#		#{% if  hardening_ssh.allow_forwarding.stream.groups | default(false) %}
Match Group {{hardening_ssh.allow_forwarding.stream.groups | join(',') }}
	AllowStreamLocalForwarding yes
#		#{% endif %}
#	#{% endif %}
#	#{% if hardening_ssh.allow_forwarding.agent | default(false) %}
#		#{% if hardening_ssh.allow_forwarding.agent.users | default(false) %}
Match User {{ hardening_ssh.allow_forwarding.agent.users | join(',') }}
	AllowAgentForwarding yes
#		#{% endif %}
#		#{% if  hardening_ssh.allow_forwarding.agent.groups | default(false) %}
Match Group {{hardening_ssh.allow_forwarding.agent.groups | join(',') }}
	AllowAgentForwarding yes
#		#{% endif %}
#	#{% endif %}
#	#{% if hardening_ssh.allow_forwarding.x11 | default(false) %}
#		#{% if hardening_ssh.allow_forwarding.x11.users | default(false) %}
Match User {{ hardening_ssh.allow_forwarding.x11.users | join(',') }}
	X11Forwarding yes
#		#{% endif %}
#		#{% if  hardening_ssh.allow_forwarding.x11.groups | default(false) %}
Match Group {{hardening_ssh.allow_forwarding.x11.groups | join(',') }}
	X11Forwarding yes
#		#{% endif %}
#	#{% endif %}
{% endif %}
