{% if sudo_without_password.groups | default(false) %}
{% for group in sudo_without_password.groups %}
%{{ group.name }} ALL=(ALL) NOPASSWD: {% if group.apps | default(false) %}{{ group.apps | join(',') }}{% else %}ALL{% endif %}

{% endfor %}
{% endif %}
{% if sudo_without_password.users | default(false) %}
{% for user in sudo_without_password.users %}
{{ user.name }} ALL=(ALL) NOPASSWD: {% if user.apps | default(false) %}{{ user.apps | join(',') }}{% else %}ALL{% endif %}

{% endfor %}
{% endif %}
